.title {
  display: block;
  margin: 0;
  font-family: 'DINS Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #4F4294;
  text-transform: uppercase;

  @media (max-width: 1400px) {
    font-size: 32px;
  }

  @media (max-width: 715px) {
    font-size: 26px;
  }

  @media (max-width: 450px) {
    font-size: 18px;
  }

}
