.first-screen {
  background-image: linear-gradient(120deg, #f2f17a 0%, #f2f17a 50%, #a78de1 50%, #a78de1 100%);
  max-width: 100vw;
  overflow: hidden;

  padding: 70px 0;
  position: relative;
  z-index: 2;
  &__logo {
    background: #ffffff;
    border-radius: 50%;
    width: 188px;
    height: 188px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 66px;
    img {
      display: block;
      flex-shrink: 0;
      max-width: 132px;
    }
  }
  &__bg-images {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
      position: absolute;
      top: 0;
      right: 0;
    }

    .layer {
      transform: translate(var(--parallaxX, 0), calc(var(--parallaxY, 0) + var(--floatY, 0)));
    }
    .layer-1 {
      right: 5%;
      top: -8%;
    }
    .layer-2 {
      right: 23%;
      z-index: 7;
    }
    .layer-3 {
      right: 10%;
      z-index: 11;
    }
    .layer-4 {
      right: 45%;
      bottom: 0;
      top: auto;
    }
    .layer-5 {
      right: 42%;
      top: -3%;
    }
    .layer-6 {
      right: -20%;
    }
  }

  .title {
    max-width: 420px;
    margin-bottom: 24px;
  }
  .subtitle {
    max-width: 420px;
  }
}

@media (max-width: 1400px) {
  .first-screen__bg-images {
    .layer-1,
    .layer-4,
    .layer-5 {
      display: none;
    }
  }
}

@media (max-width: 1079px) {
  .first-screen {
    background-image: linear-gradient(165deg, #f2f17a 0%, #f2f17a 70%, #a78de1 70%, #a78de1 100%);

    .wrapper {
      display: grid;
      gap: 32px;
      grid-template-columns: 188px 1fr;
    }
  }
  .first-screen__logo {
    margin-bottom: 0;
  }
  .first-screen__bg-images {
    .layer-6 {
      display: none;
    }
    .layer-3 {
      right: -16%;
      bottom: -54%;
      top: auto;
      scale: 0.66;
    }
    .layer-2 {
      right: -6%;
    }
  }
}

@media (max-width: 900px) {
  .first-screen__bg-images {
    display: none;
  }

}

@media (max-width: 715px) {
  .first-screen {
    padding: 32px 0;
  }
  .first-screen {
    background-image: none;
    background-color: #f2f17a;
  }
  .first-screen .wrapper {
    gap: 16px;
    grid-template-columns: 140px 1fr;
    align-items: center;
  }
  .first-screen__logo {
    width: 140px;
    height: 140px;
  }
  .first-screen__logo img {
    max-width: 90px;
  }
  .first-screen .title {
    max-width: initial;
    margin-bottom: 10px;
    font-size: 24px;
  }
  .first-screen .subtitle {
    max-width: initial;
    font-size: 14px;
    line-height: 1.2;
  }
}

@media (max-width: 450px) {
  .first-screen {
    padding: 16px 0;
  }
  .first-screen .wrapper {
    grid-template-columns: 115px 1fr;
  }
  .first-screen__logo {
    width: 115px;
    height: 115px;
  }
  .first-screen__logo img {
    max-width: 80px;
  }
  .first-screen .title {
    font-size: 20px;
  }
  .first-screen .subtitle {
    font-size: 12px;
  }
}
