@font-face {
  font-family: 'DIN Pro';
  src: url('fonts/DINPro/DINPro.eot');
  src: local('DIN Pro'), local('DINPro'),
      url('fonts/DINPro/DINPro.eot?#iefix') format('embedded-opentype'),
      url('fonts/DINPro/DINPro.woff2') format('woff2'),
      url('fonts/DINPro/DINPro.woff') format('woff'),
      url('fonts/DINPro/DINPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro';
  src: url('fonts/DINPro/DINPro-Bold.eot');
  src: local('DIN Pro Bold'), local('DINPro-Bold'),
      url('fonts/DINPro/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/DINPro/DINPro-Bold.woff2') format('woff2'),
      url('fonts/DINPro/DINPro-Bold.woff') format('woff'),
      url('fonts/DINPro/DINPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro';
  src: url('fonts/DINPro/DINPro-Medium.eot');
  src: local('DIN Pro Medium'), local('DINPro-Medium'),
      url('fonts/DINPro/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/DINPro/DINPro-Medium.woff2') format('woff2'),
      url('fonts/DINPro/DINPro-Medium.woff') format('woff'),
      url('fonts/DINPro/DINPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

// Century Gothic 700
// @font-face {
//   font-display: swap;
//   font-family: "Century Gothic";
//   src: local("Century Gothic"), local("CenturyGothic-Bold"),
//   url("../fonts/CenturyGothic/CenturyGothic-Bold.woff2") format("woff2"),
//   url("../fonts/CenturyGothic/CenturyGothic-Bold.woff") format("woff");
//   font-weight: 700;
//   font-style: normal;
// }

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothicCenturyGothic-Bold.eot');
  src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
      url('../fonts/CenturyGothicCenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CenturyGothicCenturyGothic-Bold.woff2') format('woff2'),
      url('../fonts/CenturyGothicCenturyGothic-Bold.woff') format('woff'),
      url('../fonts/CenturyGothicCenturyGothic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
