html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  background-color: #ffffff;
  font-weight: 400;
  font-style: normal;
  position: relative;
  overflow-x: hidden;
  font-family: 'DINS Pro', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
  // opacity: 0.8;
  max-width: 100vw;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: 'DINS Pro', sans-serif;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: transparent !important;
}
li::marker {
  color: var(--Green);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
